extends layout

block content
    div.text-center
        br
        img(src='/public/eShrug.png' height="60" alt="lol" vertical-align='middle')
        br
        h1 Error 404 
        h4 Couldn't find that page