extends layout

block content
    div.text-center
        br
        br
        h1
            img(src='/public/wave.png' height="45" alt="lol" vertical-align='middle')/  
            img(src='/public/Okayge.png' height="45" alt="lol" vertical-align='middle')/  Hello
        br
        h4 Welcome to my scuffed site!
        br
        h6 My name is doodle. I'm a Lidl programmer trying to learn stuff.
        h6 For now, this site will have stuff for my twitch bot. But maybe I'll figure out more stuff in the future.
