doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='icon' type='image/png' href='/public/ForsenLookingAtYou.png')
        title doodle
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        style.
            body {
                background-color: #0B0B0B;
                color: #E2E2E2;
                font-family: 'calibri', 'arial';
            }
            .navbar-dark .navbar-nav .nav-link {
                color: #D8D8D8
            }
    body
        nav.navbar.navbar-dark.navbar-expand-sm(style={'background-color': '#191919'})
            a.navbar-brand(href='/') 
                img(src='/public/smile.png' width="50" height="50" alt="lol" vertical-align='middle')
            ul.navbar-nav 
                li.nav-item 
                    a.nav-link(href='/') Home
                li.nav-item 
                    a.nav-link(href='/commands') Commands
        block content 